@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: aliceblue;
  text-align: center;
  color: rgb(255, 121, 5);
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://thumbs.dreamstime.com/b/jungle-background-border-frame-liana-vine-green-leaves-flowers-cartoon-sunny-tropical-backdrop-empty-spa-space-343615561.jpg");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid white;
}



